    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <title>CardView</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header">
    		<h1> CardView</h1>
    	</div>
    	<div>
    		<img th:src="${myCard.imgUrl}" alt="">

    		<h3 th:utext="${myCard.name}">...</h3>

    		<div>
    			<p th:utext="${myCard.description}"></p>	
    		</div>
    		<div>
    			<p th:utext="${myCard.hp}"></p>
    			<p th:utext="${myCard.defence}"></p>
    			<p th:utext="${myCard.attack}"></p>
    			<p th:utext="${myCard.energy}"></p>

    		<h5 th:text="'Color:  '+${myCard.family}">...</h5>
    		<h5 th:text="'SuperPower:  '+${myCard.affinity}">...</h5>
    	</div>
    </body>
    </html>
